table{
    -webkit-box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.57);
    box-shadow: 10px 10px 8px -1px rgba(0,0,0,0.57);
    
}
table thead th{
    background-color: black;
    color: white;
}
table tfoot td{
    background-color: lightgray;
}
table tbody tr:nth-child(even) td{
    background-color: #E9E9E9;
}
table tbody tr:hover td{
    background-color: #E9E9E9;
    cursor: pointer;
}